@import "../../assets/styles/custom-classes.scss";

.profile-pic {
  border-radius: 10px;
}

.main-text {
  font-size: 20px;
  font-weight: 600;
}

.next-section-btn {
  border: 1px solid $font-secondary-color;
  border-radius: 32px;
  padding: 24px 8px;
}

.secondary-text {
  font-weight: lighter;
}

.mt-custom {
  margin-top: 7rem !important;
}

.bg-vs {
  background-color: #68217a !important;
}

.bg-sn {
  background-color: #81b5a1 !important;
}

.bg-azure {
  background-color: #0088d2 !important;
}
