<section id="about" class="container">
  <div class="row p-5">
    <div class="col-sm">
      <img
        class="img-fluid profile-pic"
        src="../../assets/img/valentinvirot.jpg"
      />
    </div>
    <div class="col-sm">
      <span class="main-text d-block"
        >Read about why I always wanted to be a developer.</span
      >
      <span class="secondary-text d-block mt-3"
        >Since I was 10-ish years old, I always wanted to learn how a computer
        works, and how I can use it to create new things. Since this time, I
        learned a lot of hard skills. Here are some of them.</span
      >

      <div class="progress-bars">
        <div class="mt-4">
          <span>C# - 70%</span>
          <div class="progress mt-1">
            <div
              class="progress-bar bg-vs"
              role="progressbar"
              style="width: 80%"
              aria-valuenow="800"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

        <div class="mt-4">
          <span>ServiceNow - 60%</span>
          <div class="progress mt-1">
            <div
              class="progress-bar bg-sn"
              role="progressbar"
              style="width: 60%"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

        <div class="mt-4">
          <span>Cloud - 50%</span>
          <div class="progress mt-1">
            <div
              class="progress-bar bg-azure"
              role="progressbar"
              style="width: 50%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

        <div class="mt-4">
          <span>Agile - 75%</span>
          <div class="progress mt-1">
            <div
              class="progress-bar bg-success"
              role="progressbar"
              style="width: 75%"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-5 d-flex justify-content-center">
    <div class="next-section-line mt-3"></div>
  </div>
</section>
