@import "../../assets/styles/custom-classes.scss";

#home-section {
  background-image: url("../../assets/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 383px) {
  .ln-dl-btn {
    margin-bottom: 8px;
  }
}

@media (min-width: 392px) {
  .ln-dl-btn {
    margin-right: 8px;
  }
}

.test-bg {
  background-color: black;
}

.hello-text {
  background-color: $font-secondary-color;
  padding: 8px 32px;
  display: inline-block;
}

.ln-dl-btn {
  background-color: $font-secondary-color;
  color: $font-primary-color;
  width: 180px;
  border-radius: 10px;
  padding: 16px 32px;
}

.ln-portfolio-btn {
  background-color: transparent;
  color: $font-primary-color;
  border: 1px solid $font-primary-color;
  border-radius: 10px;
  width: 180px;
  padding: 16px 32px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.name {
  font-weight: Bold;
  font-size: 50px;
}

.name-desc {
  font-weight: lighter;
  font-size: 24px;
}

.next-section-btn {
  border: 1px solid $font-secondary-color;
  border-radius: 32px;
  padding: 24px 8px;
  transition: all 0.2s ease-in-out;
}

.next-section-btn:hover {
  transform: scale(1.2);
}
