<section
  class="flex flex-col items-center justify-center text-white p-8 md:px-6 lg:px-32 xl:px-64"
  id="experience"
>
  <div class="text-center">
    <span class="block text-xl font-bold">My experience</span>
    <span class="block mt-4"
      >Here is a recap of my work experience that I've obtained since my
      diploma.</span
    >
  </div>

  <div class="mt-4 lg:flex lg:flex-row lg:flex-wrap">
    <app-experience-entry
      *ngFor="let exp of experiences"
      [position]="exp.position"
      [title]="exp.title"
      [shortDesc]="exp.shortDesc"
      [desc]="exp.desc"
      class="lg:w-full"
    ></app-experience-entry>
  </div>

  <div class="mt-4 lg:mt-8 text-center">
    <span class="block"
      >You can learn more of my experience in my curriculum vitae, available on
      top of this page.</span
    >
  </div>
</section>
