<section
  class="flex flex-col items-center justify-center text-white p-8 md:px-6 lg:px-32 xl:px-64"
  id="experience"
>
  <div class="text-center">
    <span class="block text-xl font-bold">My experience</span>
    <span class="block mt-4"
      >Here is a recap of my work experience that I've obtained since my
      diploma.</span
    >
  </div>

  <div class="mt-4 lg:flex lg:flex-row lg:flex-wrap">
    <div class="lg:w-full">
      <div class="bg-secondary rounded-lg p-4 text-justify lg:w-1/2">
        <span class="block text-xl">Yunit - since September 2022</span>
        <span class="block text-lg">ITSM consultant</span>
        <hr class="mt-2 mb-2" />
        <span class="block"
          >Developping new business apps / new Service Portals on ServiceNow<br />Helping
          clients to switch to ServiceNow from scratch</span
        >
      </div>
    </div>

    <div class="lg:w-full">
      <div
        class="bg-secondary rounded-lg p-4 text-justify mt-4 lg:mt-0 lg:w-1/2 lg:float-right"
      >
        <span class="block text-xl">IN-IT - March 2020 to August 2022</span>
        <span class="block text-lg">Junior ITSM consultant</span>
        <hr class="mt-2 mb-2" />
        <span class="block"
          >Developping new business apps / new Service Portals on ServiceNow
          <br />
          Helping clients to switch to ServiceNow from scratch
          <br />
          Developping custom producers for Apache Kafka
        </span>
      </div>
    </div>

    <div class="lg:w-full">
      <div
        class="bg-secondary rounded-lg p-4 mt-4 lg:mt-0 text-justify lg:w-1/2"
      >
        <span class="block text-xl"
          >ServiceNow Certification - August 2020</span
        >
        <span class="block text-lg">Certified System Administator</span>
        <hr class="mt-2 mb-2" />
        <span class="block"
          >Obtained during my internship at IN-IT, obtained all deltas
          since</span
        >
      </div>
    </div>

    <div class="lg:w-full">
      <div
        class="bg-secondary rounded-lg p-4 text-justify mt-4 lg:mt-0 lg:w-1/2 lg:float-right"
      >
        <span class="block text-xl">Microsoft Student Ambassador</span>
        <span class="block text-lg">Year 2020-2021</span>
        <hr class="mt-2 mb-2" />
        <span class="block"
          >Decided to be part of the Microsoft experience while being at DIIAGE.
        </span>
      </div>
    </div>

    <div class="lg:w-full">
      <div
        class="bg-secondary rounded-lg mt-4 lg:mt-0 p-4 text-justify lg:w-1/2"
      >
        <span class="block text-xl">Vice-President of Student Council</span>
        <span class="block text-lg">2020-2022</span>
        <hr class="mt-2 mb-2" />
        <span class="block"
          >Organizing cool activities with students, help school on their side
          projects</span
        >
      </div>
    </div>

    <div class="lg:w-full">
      <div
        class="bg-secondary rounded-lg p-4 text-justify mt-4 lg:mt-0 lg:w-1/2 lg:float-right"
      >
        <span class="block text-xl">DIIAGE</span>
        <span class="block text-lg"
          >Full-Stack Developper diploma obtained on november 2022</span
        >
        <hr class="mt-2 mb-2" />
        <span class="block"
          >Studying at DIIAGE, to obtain an Full-Stack Developper diploma, in
          France.
        </span>
      </div>
    </div>
  </div>

  <div class="mt-4 lg:mt-8 text-center">
    <span class="block"
      >You can learn more of my experience in my curriculum vitae, available on
      top of this page.</span
    >
  </div>
</section>
