<section
  id="about"
  class="flex flex-col space-y-8 lg:space-y-16 px-8 py-8 xl:py-16 2xl:py-32 border-dashed border-b-2 border-gray-300"
>
  <span class="text-2xl font-bold"
    >Read about why I always wanted to be a developer.</span
  >

  <div class="flex flex-col lg:flex-row z-10 justify-center items-center">
    <div class="text-lg flex flex-col space-y-4 lg:w-1/2">
      <span
        >Since I was young, I always wanted to learn how computer worked or even
        how our world runs. It wasn't curiosity, it was a real passion, and it
        still is. Here are some hard skills that i've learned during my studies
        / work experience.</span
      >

      <span
        >During my life, I started learning and experiencing a large variety of
        technologies, not only in development, but also in networking, hardware,
        ...</span
      >

      <span
        >Using all of this, i'm now able to handle huge projects, that requires
        Dev/Ops knowledge with no problem what so ever.</span
      >
    </div>

    <div
      class="mt-8 lg:mt-0 lg:w-1/2 p-4 lg:mx-32 bg-gray-300/30 backdrop-blur-lg w-full rounded-lg"
    >
      <span class="block"
        >ServiceNow - 5 years
        <span
          title="ITSM/SecOps/App Developper/Portal and more!"
          class="text-gray-600"
          ><fa-icon [icon]="infoIcon"></fa-icon></span
      ></span>
      <div class="w-full bg-white rounded-full h-2.5 mb-4">
        <div class="bg-now h-2.5 rounded-full" style="width: 90%"></div>
      </div>

      <span class="block"
        >C# - 4 years
        <span
          title="ASP.NET APIs/Gateways/EF Core/NuGet packages"
          class="text-gray-600"
          ><fa-icon [icon]="infoIcon"></fa-icon></span
      ></span>
      <div class="w-full bg-white rounded-full h-2.5 mb-4">
        <div class="bg-csharp h-2.5 rounded-full" style="width: 75%"></div>
      </div>

      <span class="block"
        >Agile - 5 years
        <span
          title="Multiple projects on various tools (Azure DevOps, ServiceNow Agile, ...)"
          class="text-gray-600"
          ><fa-icon [icon]="infoIcon"></fa-icon></span
      ></span>
      <div class="w-full bg-white rounded-full h-2.5 mb-4">
        <div class="bg-agile h-2.5 rounded-full" style="width: 75%"></div>
      </div>

      <span class="block"
        >Microsoft Azure - 4 years
        <span
          title="Functions/Cognitive Services/Kubernetes"
          class="text-gray-600"
          ><fa-icon [icon]="infoIcon"></fa-icon></span
      ></span>
      <div class="w-full bg-white rounded-full h-2.5 mb-4">
        <div class="bg-azure h-2.5 rounded-full" style="width: 70%"></div>
      </div>

      <span class="block"
        >Docker / Kubernetes - 4 years
        <span
          title="Dockerfile/Compose/K8S clusters with Pod management"
          class="text-gray-600"
          ><fa-icon [icon]="infoIcon"></fa-icon></span
      ></span>
      <div class="w-full bg-white rounded-full h-2.5 mb-4">
        <div class="bg-red-800 h-2.5 rounded-full" style="width: 70%"></div>
      </div>
    </div>
  </div>
</section>
