<section
  class="flex flex-col md:flex-row align-center self-center items-center md:items-start md:px-6 lg:px-32 xl:px-64 justify-center text-white p-8"
  id="about"
>
  <div class="p-4 h-full">
    <img class="rounded-lg" src="../../../../assets/img/valentinvirot.webp" />
  </div>

  <div class="mt-2 text-justify self-center">
    <span class="block text-xl font-bold"
      >Read about why I always wanted to be a developer.</span
    >

    <span class="block mt-4"
      >Since I was young, I always wanted to learn how computer worked or even
      how our world runs. It wasn't curiosity, it was a real passion, and it
      still is. Here are some hard skills that i've learned during my studies /
      work experience.</span
    >

    <div class="mt-4">
      <span class="block">ServiceNow - 75%</span>
      <div class="w-full bg-white rounded-full h-2.5 mb-4">
        <div class="bg-secondary h-2.5 rounded-full" style="width: 75%"></div>
      </div>

      <span class="block">C# - 75%</span>
      <div class="w-full bg-white rounded-full h-2.5 mb-4">
        <div class="bg-csharp h-2.5 rounded-full" style="width: 75%"></div>
      </div>

      <span class="block">Microsoft Azure - 65%</span>
      <div class="w-full bg-white rounded-full h-2.5 mb-4">
        <div class="bg-azure h-2.5 rounded-full" style="width: 65%"></div>
      </div>

      <span class="block">Agile - 70%</span>
      <div class="w-full bg-white rounded-full h-2.5 mb-4">
        <div class="bg-agile h-2.5 rounded-full" style="width: 70%"></div>
      </div>
    </div>
  </div>
</section>
