<section id="experience" class="container">
  <div class="row d-flex justify-content-center">
    <div class="col"></div>
    <div class="col-10 mt-4">
      <div class="text-center">
        <span class="main-text">My experience</span>
      </div>

      <div class="text-center mt-4">
        <span class="secondary-text"
          >Since high school, I worked on tiny projects on my own, then I
          studied software developement at my school.</span
        >
      </div>

      <div class="mt-5 mb-5 container">
        <div class="row">
          <div class="col-md experience me-3">
            <span class="experience-title d-block"
              >Yunit (Magellan Partners) - since September 2022</span
            >
            <span class="experience-desc">ITSM consultant</span>
            <hr />

            <span class="d-block"
              >Developping new business apps / new Service Portals on
              ServiceNow</span
            >
            <br />
            <span>Helping clients to switch to ServiceNow from scratch</span>
          </div>

          <div class="col-md"></div>
        </div>

        <div class="row">
          <div class="col-md"></div>

          <div class="col-md experience ms-3">
            <span class="experience-title d-block"
              >IN-IT - March 2020 - August 2022</span
            >
            <span class="experience-desc">Junior consultant</span>
            <hr />

            <span class="d-block"
              >Developping new business apps / new Service Portals on
              ServiceNow</span
            >
            <br />
            <span>Developping custom producers for Apache Kafka</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md experience me-3">
            <span class="experience-title d-block"
              >ServiceNow Certification - August 2020</span
            >
            <span class="experience-desc"
              >System administrator certification</span
            >
            <hr />

            <span class="d-block"
              >Obtained during my internship at IN-IT (march-august 2020).</span
            >
          </div>

          <div class="col-md"></div>
        </div>

        <div class="row">
          <div class="col-md"></div>

          <div class="col-md experience ms-3">
            <span class="experience-title d-block"
              >Microsoft Student Ambassador</span
            >
            <span class="experience-desc">Year 2020-2021</span>
            <hr />

            <span class="d-block"
              >Decided to be part of the MS experience while being at
              DIIAGE.</span
            >
          </div>
        </div>

        <div class="row">
          <div class="col-md experience me-3">
            <span class="experience-title d-block"
              >Vice-President of Student Council</span
            >
            <span class="experience-desc">Years 2020-2022</span>
            <hr />

            <span class="d-block"
              >Organizing cool activities with student, help school in their
              side projects.</span
            >
          </div>

          <div class="col-md"></div>
        </div>

        <div class="row">
          <div class="col-md"></div>

          <div class="col-md experience ms-3">
            <span class="experience-title d-block"
              >DIIAGE - since september 2019</span
            >
            <span class="experience-desc">Student at CUCDB - France</span>
            <hr />

            <span class="d-block"
              >Studiying at DIIAGE, a software engineering curriculum in
              France.</span
            >
          </div>
        </div>
      </div>

      <p class="mt-5 text-center">
        You can see more of my experience in my curriculum vitae, available on
        top of this page.
      </p>

      <div class="row mt-5 mb-5 d-flex justify-content-center">
        <div class="next-section-line mt-3"></div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</section>
