@media screen and (max-height: 580px) {
  .custom-margin {
    margin-top: 16%;
  }

  .home-nav-btn {
    display: none;
  }
}

#welcome {
  background-image: url("../../../../assets/img/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.typed-out {
  overflow: hidden;
  border-right: 0.15em solid white;
  white-space: nowrap;
  animation: typing 2s steps(20, end) forwards, blink 0.8s infinite;
  width: 0;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: white;
  }
}
