<section
  class="flex flex-col items-center lg:items-start lg:px-6 lg:px-32 xl:px-64 justify-center text-white h-screen p-8"
  id="welcome"
>
  <div
    class="custom-margin flex flex-col items-center lg:items-start bg-gray-800/40 p-4 lg:p-8 rounded-lg backdrop-blur-lg"
  >
    <div>
      <span
        class="block border border-2 border-secondary rounded-lg px-6 py-3 lg:text-xl"
        >Hello, I'm</span
      >
    </div>

    <div>
      <span
        class="typed-out block font-semibold text-4xl lg:text-5xl mt-3 lg:mt-10 pr-2"
        >Valentin Virot
      </span>
    </div>

    <span class="block text-lg lg:text-2xl mt-3 lg:mt-6 text-center"
      >A ServiceNow Consultant / Full-Stack Developper in France.</span
    >

    <div
      class="mt-6 lg:mt-10 flex flex-row space-x-4 lg:space-x-0 lg:w-full lg:justify-evenly"
    >
      <a
        target="_blank"
        href="../../../../assets/files/CV_Valentin_Virot_2024.pdf"
        class="block bg-secondary transition ease-in-out delay-50 hover:bg-secondaryDarker p-4 rounded-lg w-36 lg:w-48 text-center"
        >Download CV</a
      >

      <a
        href="#portfolio"
        class="block bg-gray-800/40 transition ease-in-out delay-50 hover:bg-gray-400/40 hover:border-secondaryDarker border p-4 rounded-lg w-36 lg:w-48 text-center"
        >Portfolio</a
      >
    </div>
  </div>

  <div class="home-nav-btn flex w-full justify-center mt-32">
    <a
      href="#about"
      class="border border-2 border-secondary rounded-full px-4 py-5 transition transition-all ease-in-out duration-200 hover:scale-110"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="32"
        fill="#80B8C5"
        class="bi bi-arrow-down animate-bounce"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"
        />
      </svg>
    </a>
  </div>
</section>
