<section
  id="welcome"
  class="flex flex-col lg:flex-row-reverse lg:divide-x-reverse lg:divide-x-2 lg:divide-gray-300 items-center space-y-8 lg:space-x-8 p-8 lg:divide-dashed xl:mt-16 2xl:mt-32 border-dashed border-b-2 border-gray-300"
>
  <div class="flex justify-center items-center lg:w-1/2 xl:px-8">
    <img
      class="rounded-full w-72 xl:w-96 drop-shadow-lg"
      src="assets/img/valentinvirot.webp"
    />
  </div>

  <div
    class="flex flex-col justify-center items-center z-50 rounded-lg text-center space-y-8 lg:p-8 lg:w-1/2"
  >
    <span class="text-2xl"
      >Hi! <span class="font-bold">I'm Valentin</span>, a
      <span class="font-bold">ServiceNow Senior Consultant</span> /
      <span class="font-bold">Full-Stack Developer</span> in
      <span class="font-bold">France</span></span
    >

    <span class="text-gray-600 font-semibold text-md"
      >As a tech-enthousiast since childhood, i've been developing and designing
      solutions as my primary job since 2022.</span
    >

    <a
      href="mailto:virot.valentin@gmail.com"
      alt="Contact to button"
      class="bg-secondary rounded-full px-4 text-white py-2 text-lg drop-shadow-md"
      >Contact me</a
    >

    <div class="flex space-x-4">
      <a
        target="_blank"
        alt="LinkedIn profile"
        href="https://www.linkedin.com/in/valentinvirot"
        class="border-2 border-[#3d66bd] rounded-full w-8 h-8 flex items-center justify-center p-8 text-2xl backdrop-blur-lg bg-gray-300/10 text-[#3d66bd]"
        ><fa-icon [icon]="linkedInIcon"></fa-icon
      ></a>

      <a
        target="_blank"
        alt="YouTube channel"
        href="https://www.youtube.com/@valentin_vir"
        class="border-2 border-[#db4036] rounded-full w-8 h-8 flex items-center justify-center p-8 text-2xl backdrop-blur-lg bg-gray-300/10 text-[#db4036]"
        ><fa-icon [icon]="youtubeIcon"></fa-icon
      ></a>

      <a
        target="_blank"
        alt="GitHub account"
        href="https://www.github.com/LeadOn"
        class="border-2 border-black rounded-full w-8 h-8 flex items-center justify-center p-8 text-2xl backdrop-blur-lg bg-gray-300/10"
        ><fa-icon [icon]="githubIcon"></fa-icon
      ></a>
    </div>

    <span
      ><fa-icon [icon]="jobIcon" class="mr-2 font-bold"></fa-icon> Innovation
      Lab Manager &#64; Yunit</span
    >
  </div>

  <div class="flex justify-center lg:hidden">
    <a
      href="#about"
      class="w-px h-20 border-r-2 border-dashed border-gray-300"
    ></a>
  </div>
</section>
