<div
  class="bg-secondary rounded-lg p-4 text-justify lg:w-1/2"
  *ngIf="position == false"
>
  <span class="block text-xl" [innerHtml]="title"></span>
  <span class="block text-lg" [innerHtml]="shortDesc"></span>
  <hr class="mt-2 mb-2" />
  <span class="block" [innerHtml]="desc"></span>
</div>

<div
  class="bg-secondary rounded-lg p-4 text-justify mt-4 lg:mt-0 lg:w-1/2 lg:float-right"
  *ngIf="position == true"
>
  <span class="block text-xl" [innerHtml]="title"></span>
  <span class="block text-lg" [innerHtml]="shortDesc"></span>
  <hr class="mt-2 mb-2" />
  <span class="block" [innerHtml]="desc"></span>
</div>
