<section id="experience" class="container">
  <div class="row d-flex justify-content-center">
    <div class="col"></div>
    <div class="col-10 mt-4">
      <div class="text-center">
        <span class="main-text">My experience</span>
      </div>

      <div class="text-center mt-4">
        <span class="secondary-text"
          >Since high school, I worked on tiny projects on my own, then I
          studied software developement at my school.</span
        >
      </div>

      <div class="mt-5 mb-5 text-center">
        <h1>TODO</h1>
      </div>

      <div class="row mt-5 mb-5 d-flex justify-content-center">
        <div class="next-section-line mt-3"></div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</section>
