<section
  id="skills"
  class="flex flex-col space-y-8 lg:space-y-16 px-8 py-8 xl:py-16 2xl:py-32 border-dashed border-b-2 border-gray-300"
>
  <span class="text-2xl font-bold">My certifications & accreditations</span>

  <div
    class="flex flex-col lg:flex-row z-10 justify-between items-center space-y-4 lg:space-y-0 lg:space-x-4 xl-space-y-8"
  >
    <img src="assets/img/csa.png" class="w-36" />
    <img src="assets/img/cis-itsm.png" class="w-36" />
    <img src="assets/img/cad.png" class="w-36" />
    <img src="assets/img/cis-csm.png" class="w-36" />
    <img src="assets/img/presales-genai.png" class="w-36" />
    <img src="assets/img/presales-itsm.png" class="w-36" />
  </div>
</section>
