@import "../../assets/styles/custom-classes.scss";

.modal-content {
  background-color: $skill-bg;
}

.main-text {
  font-size: 20px;
  font-weight: 600;
}

.next-section-line {
  width: 1px;
  height: 80px;
  border-right: 1px dashed #c94d29;
  padding: 0;
}

.secondary-text {
  font-weight: lighter;
}

.mt-custom {
  margin-top: 7rem !important;
}

.skill:hover {
  background-color: $font-secondary-color;

  .skill-icon {
    background-color: $font-primary-color;
  }

  .skill-icon svg {
    fill: black;
  }

  .skill-arrow svg {
    fill: white;
  }
}

.skill {
  background-color: $skill-bg;
  padding: 20px 8px;
  border-radius: 10px;
  font-weight: lighter;
  font-size: 20px;
  color: $font-primary-color;
}

.skill-icon {
  background-color: $bg-color;
  border-radius: 50%;
  padding-top: 4px;
  width: 42px;
  height: 42px;
}

.skill-name {
  font-weight: lighter;
}
