<nav
  class="flex justify-between items-center border-b-2 border-gray-300 drop-shadow-lg h-20 xl:px-32 2xl:px-64"
>
  <div class="p-4 flex flex-row justify-center items-center space-x-2">
    <img
      src="assets/favicon/android-chrome-512x512.png"
      alt="logo"
      class="w-8 drop-shadow-md"
    />

    <span class="text-xl font-bold">Valentin VIROT</span>
  </div>

  <div class="p-4">
    <a
      class="bg-secondary rounded-full px-4 text-white py-2 text-sm drop-shadow-md"
      target="_blank"
      href="assets/files/CV_Valentin_Virot_2025.pdf"
      alt="Link to download Valentin Virot's CV."
      ><fa-icon [icon]="downloadIcon"></fa-icon>
      <span class="ml-2 md:text-md lg:text-lg"
        ><span class="hidden md:inline-block md:mr-1">Download</span
        >Resume</span
      ></a
    >
  </div>
</nav>

<div class="xl:px-32 2xl:px-64 relative overflow-hidden">
  <div
    class="absolute top-16 -left-1/4 lg:-left-[10%] xl:-left-[3%] w-96 h-96 bg-now rounded-full filter blur-2xl opacity-60"
  ></div>

  <div
    class="absolute top-96 -right-1/4 lg:-right-[10%] xl:-right-[3%] w-96 h-96 bg-azure rounded-full filter blur-2xl opacity-60"
  ></div>
  <router-outlet></router-outlet>
</div>
