<section
  class="flex flex-col items-center justify-center text-white m-8 md:mx-16 lg:mx-32"
  id="youtube"
>
  <div
    class="text-center bg-red-900 p-4 rounded-lg neomorphism-primaryDarker-2"
  >
    <span class="block text-xl font-bold">YouTube</span>
    <div
      class="mt-4 bg-primaryDarker neomorphism-inner-primaryDarker w-full rounded-lg p-4"
    >
      <span class="block"
        >I'm currently trying a new project: a YouTube channel talking about
        ServiceNow, from a Full-Stack developer perspective. Every video will be
        available in French and English. If you're interested, click on my
        avatar below!</span
      >
      <a
        href="https://youtube.com/@valentin_vir"
        class="flex justify-center mt-8 text-sm hover:drop-shadow-2xl"
        target="_blank"
        ><img
          src="../../../../assets/favicon/android-chrome-512x512.png"
          class="w-64"
      /></a>
    </div>
  </div>
</section>
