@media screen and (min-width: 768px) {
  .project {
    color: transparent;
    background-color: transparent;
    background-image: url("../../../assets/img/background.webp");
    transition: all 0.2s ease-in-out;
  }

  .project-leaderos {
    background-image: url("../../../assets/img/leaderos.png");
  }

  .project-leadon {
    background-image: url("../../../assets/img/leadon.png");
  }

  .project-portfolio {
    background-image: url("../../../assets/img/portfolio.png");
  }

  .project-yugames {
    background-image: url("../../../assets/img/yugames.png");
  }

  .project:hover {
    color: white;
    background-image: none;
    background-color: #19766d;
  }
}
