@media screen and (min-width: 768px) {
  .project {
    color: transparent;
    background-color: transparent;
    background-image: url("../../../assets/img/background.webp");
    transition: all 0.2s ease-in-out;
  }

  .project-leaderos {
    background-image: url("https://github.com/LeadOn/LeaderOS/raw/main/images/banner-portfolio.webp");
  }

  .project-leadon {
    background-image: url("https://github.com/LeadOn/Portfolio/raw/main/images/banner-portfolio.webp");
  }

  .project-wiki {
    background-image: url("https://github.com/LeadOn/ServiceNow-Wiki/raw/main/images/banner-portfolio.webp");
  }

  .project-portfolio {
    background-image: url("https://github.com/LeadOn/Portfolio/raw/main/images/banner-portfolio.webp");
  }

  .project-yugames {
    background-image: url("https://github.com/LeadOn/YuGames-API/raw/master/images/banner-portfolio.webp");
  }

  .project:hover {
    color: white;
    background-image: none;
    background-color: #19766d;
  }
}
