<section id="portfolio" class="container">
  <div class="row">
    <span class="main-text d-block mt-2 text-center">Portfolio</span>
    <span class="secondary-text d-block mt-2 text-center"
      >Here are some of the projects that I've worked on recently.</span
    >
  </div>

  <span class="d-block text-center mt-5" *ngIf="dataLoaded == false"
    >Loading data from GitHub API...</span
  >

  <span
    class="d-block text-center mt-5"
    *ngIf="repos != null && repos.length == 0"
    >No projects are present in my GitHub for now!</span
  >

  <div class="row mt-5">
    <div class="col-sm mb-3 link-decoration-none" *ngFor="let repo of repos">
      <a href="{{ repo.html_url }}" target="_blank">
        <div class="project p-2 text-center portfolio">
          <span class="project-name mt-1 d-block">{{ repo.name }}</span>
          <span class="project-desc mt-2 d-block">{{ repo.language }}</span>
          <span class="project-desc mt-3 d-block">{{ repo.description }}</span>
        </div>
      </a>
    </div>
  </div>

  <div class="row mt-5 mb-5 d-flex justify-content-center">
    <div class="next-section-line mt-3"></div>
  </div>
</section>
