@import "../../assets/styles/custom-classes.scss";

.link-decoration-none a {
  text-decoration: none !important;
}

.main-text {
  font-size: 20px;
  font-weight: 600;
}

.next-section-btn {
  border: 1px solid $font-secondary-color;
  border-radius: 32px;
  padding: 24px 8px;
}

.secondary-text {
  font-weight: lighter;
}

.mt-custom {
  margin-top: 7rem !important;
}

.project {
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(8px);
  border-radius: 10px;
  height: 200px;
}

.portfolio {
  background-image: url("../../assets/img/background.jpg");
}

.portfolio:hover {
  background: $font-secondary-color;
}

.project:hover {
  background: $font-secondary-color;

  .project-name {
    color: $font-primary-color;
  }

  .project-desc {
    color: $font-primary-color;
  }
}

.project-name {
  font-size: 18px;
  font-weight: 600;
  color: transparent;
  transition: all 0.2s ease-in-out;
}

.project-desc {
  font-weight: lighter;
  font-size: 14px;
  color: transparent;
  transition: all 0.2s ease-in-out;
}

.next-section-line {
  width: 1px;
  height: 80px;
  border-right: 1px dashed #c94d29;
  padding: 0;
}
