@import "../../assets/styles/custom-classes.scss";

.main-text {
  font-size: 20px;
  font-weight: 600;
}

.next-section-line {
  width: 1px;
  height: 80px;
  border-right: 1px dashed #c94d29;
  padding: 0;
}

.secondary-text {
  font-weight: lighter;
}

.mt-custom {
  margin-top: 7rem !important;
}

.experience {
  background-color: #c94d29;
  border-radius: 10px;
  padding: 16px;
}

.experience-title {
  font-size: 20px;
}

.experience-desc {
  font-size: 14px;
}
