// Importing colors
@import "colors.scss";

// Dark background color
.ln-dark {
  background-color: $nav-bg-color;
}

// Orange background color
.ln-orange {
  background-color: $font-secondary-color !important;
}

// Orange text color
.ln-text-orange {
  color: $font-secondary-color;
}

// Primary text color
.ln-text-primary {
  color: $font-primary-color !important;
}
