<app-home-welcome></app-home-welcome>

<app-home-about></app-home-about>

<div class="flex justify-center">
  <a
    href="#experience"
    class="w-px h-20 border-r border-dashed border-secondary"
  ></a>
</div>

<app-home-experience></app-home-experience>

<div class="flex justify-center">
  <a
    href="#skills"
    class="w-px h-20 border-r border-dashed border-secondary"
  ></a>
</div>

<app-home-skills></app-home-skills>

<div class="flex justify-center">
  <a
    href="#youtube"
    class="w-px h-20 border-r border-dashed border-secondary"
  ></a>
</div>

<app-home-youtube></app-home-youtube>

<div class="flex justify-center">
  <a
    href="#portfolio"
    class="w-px h-20 border-r border-dashed border-secondary"
  ></a>
</div>

<app-home-portfolio></app-home-portfolio>

<div class="flex justify-center">
  <a
    href="#contact"
    class="w-px h-20 border-r border-dashed border-secondary"
  ></a>
</div>

<app-home-contact></app-home-contact>
