<app-home-welcome></app-home-welcome>

<app-home-about></app-home-about>

<div class="flex justify-center">
  <a
    href="#skills"
    class="w-px h-20 border-r-2 border-dashed border-gray-300"
  ></a>
</div>

<app-home-certifications></app-home-certifications>

<div class="flex justify-center">
  <a
    href="#experience"
    class="w-px h-20 border-r-2 border-dashed border-gray-300"
  ></a>
</div>

<app-home-experience></app-home-experience>

<div class="flex justify-center">
  <a
    href="#portfolio"
    class="w-px h-20 border-r-2 border-dashed border-gray-300"
  ></a>
</div>

<app-home-portfolio></app-home-portfolio>
